@tailwind base;
@tailwind components;
@tailwind utilities;

.slider-container {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slide {
  flex: 0 0 100%;
}
